<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="" align="center">
      <h1>Edit user</h1>
      <form action="/UpdateRecord" method="post">
        <label>
          Id :-
           <input  type="hidden" name="editid" value="<%= single?.id %>">
        </label>
        <label for=""
          >Name :-
          <input type="text" name="username" value="<%= single?.username %>"
        /></label>
        <br />
        <br />
        <label for="">Phone :- <input type="text" name="userphone"  value="<%= single?.userphone %>"> 
         <br /><br />
        <button>Add</button>
      </form>
      <a href="/">view</a>
    </div>
  </body>
</html>
